alias ll="ls -lh --color"
alias la="ls -alh --color" # la = list all
alias md='mkdir -p'
alias rd='rmdir'
alias cd..='cd ..'
alias ..='cd ..'
alias trash='gio trash'
alias xx='chmod +x'
alias agh='ag --hidden' # ag is the silver searcher

# Get tmux to pass 256 colours through to vim
# ref http://unix.stackexchange.com/a/1098
alias tmux="tmux -2"

alias bat=batcat

# rails
alias be="bundle exec"
alias beg="bundle exec guard"
alias groutes='rake routes | ag $@'
alias rc="bundle exec rubocop -a"
alias rs="bundle exec rspec"
alias rsd="NO_COVER=true bundle exec rspec -fd"
alias safepush="bundle exec rubocop -a --fail-level autocorrect && rs && git push"
alias sp=safepush
alias spf="safepush --force-with-lease"
alias spu="safepush --set-upstream"

# rust
alias c="cargo"
alias cb="cargo build"
alias cf="cargo fmt && git diff"
alias cr="cargo run"
alias ct="cargo test"


# git tools
alias gk="gitk &"
alias gka="gitk --all &"

# git
# mnemonics:
# * gf = git fetch
# * gl = get latest
# * gs = git status
# * gshs = git show stats
# * gshq = git show quiet
# * gdcq = git diff cached quiet
# * gg = git graph
statwidth=200
alias g="git"
alias gf="git fa"
alias gl="git fa && git rebase"
alias gm="git merge"
alias gmm="git merge --no-ff"
alias ga="git add -A"
alias gas="ga && gdc" # git add+status
alias gam="git commit --amend"
alias gap="git add -p"
alias gco="git checkout"
alias gb="git checkout -b"
alias gs="git st"
alias gsh="git show --patch --stat=$statwidth --show-signature"
alias gss="git show --stat=$statwidth"
alias gshq="git show --patch --stat=$statwidth -- ':!package-lock.json' ':!*.lock' ':!*.feature.cs'"
alias gt="git tag"
alias gd="git diff --patch --stat=$statwidth"
alias gds="git diff --stat=$statwidth"
alias gdc="git diff --patch --stat=$statwidth --cached"
alias gdsc="git diff --stat=$statwidth --cached"
alias gdcq="git diff --patch --stat=$statwidth --cached -- ':!package-lock.json' ':!*.lock' ':!*.feature.cs'"
alias gc="git commit -v"
alias gca="git commit -av"
alias gcam="git commit -av -m"
alias gcm="git commit -v -m"
alias gcp="git commit -pv"
alias gg="tig --stat=200,180"
alias ggu="tig @{u} --stat=200,180"
alias ggf="tig --first-parent -m --stat=200,180"
alias gG="tig --all --stat=200,180"
alias GG="tig --all --stat=200,180"
alias gra="git ra" # squash staged files into last commit
alias graa="git ra -a" # squash all changes into last commit
alias gri="git ri" # gri = git rebase interactive (you need a revision e.g. @^^ )
alias gr="git rebase"
alias gp="git push"
alias gpt="echo 'Preview (gptt to push):' && git push --tags -n"
alias gptt="git push --tags"
alias gpu="git push origin HEAD --set-upstream"
alias gpf="git push --force-with-lease"
alias tb="tig blame"

# hub
alias pr="hub pull-request" # I tried the gh-cli one and it's not nearly as nice
alias prc="gh pr checkout"
alias ghw="gh repo view --web"
alias gw="ghw"

# tmuxinators
alias tm="tmuxinator"
alias tme="tmuxinator new" # new is also edt
alias tml="tmuxinator list"

# k8s
alias kc=kubectl
