# Allow alias expansion in non-interactive shells, notably running stuff from within vim
# http://stackoverflow.com/a/18901595/10245
shopt -s expand_aliases

# Get tmux to pass 256 colours through to vim
# ref http://unix.stackexchange.com/a/1098
alias tmux="tmux -2"

alias be="bundle exec"
alias gk="gitk &"
alias gka="gitk --all &"

alias ll="ls -al"
