# Allow alias expansion in non-interactive shells, notably running stuff from within vim
# http://stackoverflow.com/a/18901595/10245
shopt -s expand_aliases

alias ll="ls -alh"

# Get tmux to pass 256 colours through to vim
# ref http://unix.stackexchange.com/a/1098
alias tmux="tmux -2"

# rails
alias be="bundle exec"

# git tools
alias gk="gitk &"
alias gka="gitk --all &"
alias ta="tig --all"

# git
alias g="git"
alias gf="git fa"
alias gl="git fa && git rebase"
alias ga="git add -A"
alias gs="git st"
alias gsh="git show"
alias gd="git diff"
alias gdc="git diff --cached"
alias gc="git commit"
alias gca="git commit -a"
alias gcp="git commit -p"
alias gp="git push"
alias gpf="git push --force-with-lease"
