[alias]
	b = branch
	bd = branch -D
	br = brs
	bra = branch --all
	brd = branch -D
	brdd = "!f(){ git branch -D ${1}; git push origin --delete ${1}; };f" # delete local+origin branch
	brm = branch --all --merged
	brr = branch --remote
	brs = "for-each-ref --format='%(refname:short) %(upstream:track) %(upstream:remotename)' refs/heads"
	brw = "for-each-ref --format='%1B[0;31m%(refname:short)%1B[m | %(authorname) | %(committerdate)' --sort=committerdate refs/remotes"
	co = checkout
	cp = cherry-pick
	doff = reset HEAD^
	fa = fetch --all --prune
	fp = log --first-parent --format=format:'%C(auto)%h %C(blue)%s%C(reset)| %an  %C(auto)%d %cd'
	fp-raw = log --first-parent --format=format:'%h %s| %an %d %cd'
	ll = log --format=format:'%C(auto)%h %C(blue)%s%C(reset)| %an  %C(auto)%d'
	mt = mergetool
	pushf = push --force-with-lease
	ra = commit --amend --reset-author -CHEAD
	rba = rebase --abort
	rbc = rebase --continue
	rbo = rebase --onto
	rh = reset --hard
	ri = rebase --interactive
	rr = reset
	rrw = checkout -- . # reset working copy
	sa = stash apply
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	ssh = stash show -p
	sss = !git stash save "savesnapshot: $(date)" && git stash apply 'stash@{0}'
	st = status --short --branch
	tr = log --graph --oneline --decorate --color
	tree = log --graph --oneline --decorate --color --all
	treef = log --graph --oneline --decorate --color --first-parent
	trf = treef
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	whitespace = warn
	pager = delta
[interactive]
	singlekey = true
	diffFilter = delta --color-only
[merge]
	summary = true
	tool = kdiff3
[merge "bundlelock"]
	name = lock Gemfile
	driver = bundle install
[merge "bundle"]
	name = bundle
	driver = bundle
[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e '\n\
		system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
		b = File.read(%(%A))\n\
		b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
		  %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
		end\n\
		File.open(%(%A), %(w)) {|f| f.write(b)}\n\
		exit 1 if b.include?(%(<)*%L)'"
[push]
	default = upstream
[rebase]
	autosquash = true
	autoStash = true
[diff]
	algorithm = patience
	guitool = kdiff3
[web]
	browser = chromium-browser
[include]
	path = ~/.gitconfig.local
[tig]
	line-graphics = utf-8
[delta]
	line-numbers = true
	syntax-theme = Solarized (light)
[user]
	signingkey = 74D42A4C905507C54A7E3C9C26C6E08728CDF8EA
[commit]
	gpgsign = true
