[alias]
	br = branch
	co = checkout
	cp = cherry-pick
	doff = reset HEAD^
	fa = fetch --all --prune
	fp = log --first-parent --format=format:'%C(auto)%h %C(blue)%s%C(reset)| %an  %C(auto)%d'
	fp-raw = log --first-parent --format=format:'%h %s| %an %d'
	gl = !git fa && git rebase
	mt = mergetool
	pushf = push --force-with-lease
	ra = commit --amend --reset-author -CHEAD
	rba = rebase --abort
	rbc = rebase --continue
	rh = reset --hard
	ri = rebase --interactive
	rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
	rr = reset
	sa = stash apply
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	ssh = stash show -p
	sss = !git stash savesnapshot: $(date)&& git stash applystash@{0}
	st = status --short --branch
	tr = log --graph --oneline --decorate --color
	tree = log --graph --oneline --decorate --color --all
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	whitespace = warn
[interactive]
	singlekey = true
[merge]
	summary = true
	tool = kdiff3
[merge "bundlelock"]
	name = lock Gemfile
	driver = bundle install
[merge "bundle"]
	name = bundle
	driver = bundle
[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e '\n\
		system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
		b = File.read(%(%A))\n\
		b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
		  %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
		end\n\
		File.open(%(%A), %(w)) {|f| f.write(b)}\n\
		exit 1 if b.include?(%(<)*%L)'"
[push]
	default = current
[rebase]
	autosquash = true
[diff]
	algorithm = patience
	guitool = kdiff3
[web]
	browser = chromium-browser
[include]
	path = ~/.gitconfig.local
[tig]
	line-graphics = utf-8
